.shelfRow {
  display: flex;
  width: fit-content;
}

.shelf {
  padding: 24px 56px;
  max-width: 95%;
  overflow: hidden;
  position: relative;
}

.shelfTitle {
  display: flex;
  width: 100%;
  min-height: 28px;
  margin-bottom: 12px;
  overflow: hidden;
  font-weight: bold;
  font-size: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
